- provide(:title, "Auction Index")

%h3.subheader.text-center All Auctions

%table.display.data-tables
  %thead
    %tr
      %th Title
      %th Starting Bid
      %th Buy Out
      %th End Date
      %th Status
  %tbody
    = render @auctions
