%nav.top-bar
  %ul.title-area
    %li.name
      Armory
    %li.toggle-topbar.menu-icon
      %a
        %span
          Menu

  %section.top-bar-section
    %ul.right
      %li.has-dropdown
        %a Equipment
        %ul.dropdown
          %li= link_to "All", equipment_index_path

       
